<div class="row">
  <div class="col-md-6">
    <a routerLink='/' class="btn btn-link"><i class="fa fa-arrow-circle-o-left">
      Back to Dashboard  
    </i></a>
  </div>
  <div class="col-md-6">
     
  </div>
</div>
<div class="card">
  <h4 class="card-header">
    Edit Settings
  </h4>
  <div class="card-block">
    <form (submit)="onSubmit()">
        <div class="form-group">
          <label>Allow Registration</label>
          <input type="checkbox" [checked]="settings.allowRegistration" 
          (change)="settings.allowRegistration=!settings.allowRegistration" name="allowRegistration">
        </div>

        <div class="form-group">
            <label>Disbale Balance OnAdd</label>
            <input type="checkbox" [checked]="settings.disableBalanceOnAdd" 
            (change)="settings.disableBalanceOnAdd=!settings.disableBalanceOnAdd" name="disableBalanceOnAdd">
          </div>

          <div class="form-group">
              <label>Disbale Balance OnEdit</label>
              <input type="checkbox" [checked]="settings.disableBalanceOnEdit" 
              (change)="settings.disableBalanceOnEdit=!settings.disableBalanceOnEdit" name="disableBalanceOnEdit">
            </div>
            <input class="btn btn-primary btn-block" value="Submit" type="Submit">
    </form>
  </div>
</div>