<div class="row">
  <div class="col-md-6">
      <h2><i class="fa fa-users"></i> Employees</h2>
  </div>
  <div class="col-md-6">
      <h5 class="pull-right text-muted">Total Amt: {{total | currency:"USD": true}}</h5>
  </div>
</div>



<table *ngIf="employees?.length > 0;else noEmployees" class="table table-striped">
  <thead style=" background-color:#575454; color:#fff">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.$key}}</td>
      <td>{{employee?.firstName}} {{employee?.lastName}}</td>
            <td>{{employee.email}}</td>
      <td>{{employee.balance | currency:"USD": true}}</td>
      <td><a [routerLink]="['/employees/'+ employee.$key]" href="" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i>
        Details</a></td>
    </tr>
  </tbody>
</table>

<ng-template #noEmployees>
   <hr>
     <h4>No Employees in the System</h4>
</ng-template>